<!-- <div ng-controller="FilterController as ctrl"></div> -->
<div>
    <div>
      All entries:
      <span ng-repeat="entry in array">{{entry.name}} </span>
    </div>
    <div>
      Entries that contain an "a":
      <span ng-repeat="entry in filteredArray">{{entry.name}} </span>
    </div>
  </div>

<div class="alert alert-info">
    I have {{friends.length}} friends. They are:
    <input type="search" ng-model="q" placeholder="filter friends..." aria-label="filter friends" />
    <ul class="example-animate-container">
      <li class="animate-repeat" ng-repeat="friend in friends | filter:{age:q} as results">
        [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
      </li>
      <li class="animate-repeat" ng-if="results.length === 0">
        <strong>No results found...</strong>
      </li>
    </ul>
  </div>


  <div class="alert alert-success">
    <div>
      排序关键词：<input type="text" ng-model="keyword"/>
      排序顺序：<input type="checkbox" ng-model="sort" />
      长度：<input type="text" ng-model="length"><br />
      位置：<input type="text" ng-model="index"> 
      </div>
      <div ng-repeat="u in users | orderBy:keyword:sort| limitTo:length:index">
      <span ng-bind="u.userID"></span>
      <span ng-bind="u.username"></span>
      <span ng-bind="u.nickname"></span> 
      </div>
  </div>